<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teach.mapper.CourseMapper">

    <select id="selectAll" resultType="com.example.teach.entity.Course">
        select id, course_name courseName, teacher, credit, hours from course
    </select>

    <select id="selectById" resultType="com.example.teach.entity.Course">
        select id, course_name courseName, teacher, credit, hours from course where id = #{id}
    </select>

    <insert id="insert">
        insert into course(course_name, teacher, credit, hours)
        values(#{courseName}, #{teacher}, #{credit}, #{hours})
    </insert>

    <update id="update">
        update course set
                          course_name = #{courseName},
                          teacher = #{teacher},
                          credit = #{credit},
                          hours = #{hours}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from course where id = #{id}
    </delete>

    <select id="selectList" resultType="com.example.teach.entity.Course">
        select id, course_name, teacher, credit, hours
        from course
        <where>
            <if test="courseName != null and courseName != ''">
                and course_name like concat('%', #{courseName}, '%')
            </if>
            <if test="teacher != null and teacher != ''">
                and teacher like concat('%', #{teacher}, '%')
            </if>
        </where>
    </select>
</mapper>
